

div {
    height: 400px;
    background: radial-gradient(#3366ff 50%, #fde1d3 100%);


}

#contenedor2{
    height: 400px;
    background: linear-gradient(to left, #083399 50%, #8b0632 100%);


    /* background: -webkit-linear-gradient(to bottom, #45ee1b 0%, #5c23c6 100%);
    background: -moz-linear-gradient(to bottom, #45ee1b 0%, #5c23c6 100%);
    background: -o-linear-gradient(to bottom, #45ee1b 0%, #5c23c6 100%); */
    
}

